
<div class="box">
      <div class="group">
        <div class="overlap-group3">
          <div class="overlap">
            <p class="text-wrapper">All tools can be rent easily</p>
            <p class="div">Find, book and use it !</p>
          </div>
            <%= link_to "", class: "img-banner2" do %>
            <%= image_tag "image-index2.png" %>
            <% end %>
        </div>
      </div>
    </div>



<div class="cards">
<% @tools.each do |tool| %>
<div class="row align-items-center">
    <div class="col">
    <div class="card-trip">

      <% if tool.photo.attached? %>
      <%= cl_image_tag tool.photo.key, width: 400 %>
      <% end %>



      <div class="card-trip-infos">
        <div>
        <h2><%= link_to tool.name, tool_path(tool) %></h2>
        <p><%= tool.description.truncate(150) %></p>
      </div>
       <h2 class="card-trip-pricing"><%= tool.price %>€/day</h2>
      </div>
  </div>
  </div>
</div>
     <% end %>
   </div>




 <div class="box">
      <div class="group">
        <div class="overlap-group">
          <div class="overlap">
            <p class="text-wrapper">Earn money with your tools !</p>
            <p class="div">Rent your tools on Rent 4 You</p>
          </div>
            <%= link_to "Rent my owner tools", new_tool_path, class: "text-wrapper-2" %>
            <%= link_to "", class: "img-banner2" do %>
            <%= image_tag "image-index2.png" %>
            <% end %>
        </div>
      </div>
    </div>
