<div class="box">
      <div class="group">
        <div class="overlap-group2">
          <div class="overlap">
            <p class="text-wrapper">Earn money with your tools !</p>
            <p class="div">Rent your tools on Rent 4 You</p>
          </div>
            <%= link_to "", class: "img-banner2" do %>
            <%= image_tag "img-index.png" %>
            <% end %>
        </div>
      </div>
    </div>

  <h1>New List</h1>
  <%= simple_form_for @tool do |f| %>
    <%= f.input :name %>
    <%= f.input :description %>
    <%= f.input :address %>
    <%= f.input :price %>
    <%= f.input :photo, as: :file %>
    <%= f.submit "Submit Tool", class: "btn-menu-login mt-3" %>
  <% end %>
</div>
</div>
