<div class="container">

<h1 class="text-center"> <%= @tool.name.capitalize %></h1>
  <div class="border border-primary p-2 mb-5 text-center">

  <% if @tool.photo.attached? %>
  <%= cl_image_tag @tool.photo.key, width: 400 %>
  <% end %>

  </div>
  <div class="border border-primary" class="p-2">
  <h2>
  <br><h3>Description:</h3>
   <p><%= @tool.description  %></p>
  <p>Price: <%= @tool.price %> €/day</p>

  <p> Mise en ligne le : <%= @tool.created_at %> </p>


<div style="width: 100%; height: 600px;"
  data-controller="map"
  data-map-markers-value="<%= @markers.to_json %>"
  data-map-api-key-value="<%= ENV['pk.eyJ1Ijoicm9vbWludG91Y2giLCJhIjoiY2w0cGpzd3MzMGZ3YzNrbW4zNm95dGJxMiJ9.fS-fIL9bIgSfd3yUEKdBuQ'] %>">
</div>

  </div>
</div>
