<body>
    <div class="footer">
      <img class="divider" src="img/image.svg" />
      <div class="footer-bottom"></div>
      <div class="element">
        <div class="logo">
          <%= link_to "/", class: "group" do %>
           <%= image_tag "tools.png" %>
          <% end %>

        </div>
      </div>
      <div class="footer-middle">
        <div class="footer-column">
          <div class="footer-title">Product</div>
          <div class="footer-links">
            <div class="link">
              <div class="master-link"><div class="div">Tools offer</div></div>
            </div>
            <div class="link"><div class="master-link"></div></div>
          </div>
        </div>
        <div class="footer-column-2">
          <div class="footer-title">Company</div>
          <div class="footer-links">
            <div class="link">
              <div class="master-link"><div class="div">About</div></div>
            </div>
            <div class="link">
              <div class="master-link"><div class="div">Contact us</div></div>
            </div>
            <div class="master-link"><div class="div">Blog</div></div>
            <div class="link-2"></div>
            <div class="link-2"></div>
          </div>
        </div>
        <div class="footer-column-3">
          <div class="footer-title">Support</div>
          <div class="footer-links">
            <div class="link">
              <div class="master-link"><div class="div">Help center</div></div>
            </div>
            <div class="link">
              <div class="master-link"><div class="div">Report a bug</div></div>
            </div>
            <div class="link">
              <div class="master-link"><div class="div">Chat support</div></div>
            </div>
          </div>
        </div>
        <div class="footer-column-4">
          <div class="footer-title">Subscribe to our newsletter</div>
          <div class="element-px">
            <p class="description">Only one per week, promise.</p>
            <div class="element-2">
              <div class="input-text">
                <div class="master-input-text">
                  <div class="input-left"><div class="input-placeholder">Enter your email</div></div>
                </div>
              </div>

                <button class="button-text">Subscribe</button>

            </div>
          </div>
        </div>
      </div>
      <div class="social-media">
        <%= link_to "/", class: "social-media-icon" do %>
           <%= image_tag "github-icon.png" %>
          <% end %>
          <%= link_to "/", class: "social-media-icon" do %>
           <%= image_tag "linkedin-icon.png" %>
          <% end %>
      </div>
      <p class="copyright">Copyright © 2023 TOOLS 4 YOU | All Rights Reserved</p>
    </div>
