 <div class="header">
      <div class="div">
        <div class="overlap">
          <div class="btn-rent-a-tool">
              <%= link_to "ðŸ› ï¸ Rent a tools", tools_path, class: "text-wrapper-4" %>

          </div>
            <p class="p">Rental of tools between individuals</p>

          <%= link_to "", class: "img-banner" do %>
           <%= image_tag "header-homepage.jpg" %>
          <% end %>

          </div>
          <p class="header-description">
            Rent a tool for the day or earn money from your tools
          </p>
          <div class="text-wrapper-5">users worldwide</div>
          <div class="text-wrapper-6">4K+</div>
          <%= link_to "Rent my owner tools", new_tool_path, class: "text-wrapper-7" %>

          <div class="avatars-header">
            <%= link_to "", class: "img-1" do %>
              <%= image_tag "avatar1.png" %>
            <% end %>
            <%= link_to "", class: "img-2" do %>
              <%= image_tag "avatar2.png" %>
            <% end %>
            <%= link_to "", class: "img-3" do %>
              <%= image_tag "avatar3.png" %>
            <% end %>
          </div>
        </div>
      </div>
    </div>

<div class="tools-text-center">
  <p>Tools<p>
</div>

<div class="scrolling-wrapper">
  <div class="menu-item">Home improvement</div>
  <div class="menu-item">Gardening</div>
  <div class="menu-item">Peint</div>
  <div class="menu-item">Carpentry</div>
  <div class="menu-item">Cleaning</div>
  <div class="menu-item">Home improvement</div>
  <div class="menu-item">Gardening</div>
  <div class="menu-item">Peint</div>
  <div class="menu-item">Carpentry</div>
  <div class="menu-item">Cleaning</div>
</div>

<div class="cards">
<% @tools.each do |tool| %>
<div class="row align-items-center">
    <div class="col">
    <div class="card-trip">
      <%= image_tag "img-tools1" %>
      <div class="card-trip-infos">
        <div>
        <h2><%= link_to tool.name, tool_path(tool) %></h2>
        <p><%= tool.description.truncate(150) %></p>
      </div>
       <h2 class="card-trip-pricing"><%= tool.price %>â‚¬</h2>
      </div>
  </div>
  </div>
</div>
     <% end %>
   </div>

<div class="btn-all-tools">
<%= link_to "All tools", tools_path %>
</div>
