<div class="container">
 <h1 class="tools-text-center">My Tools</h1>
  <div class="cards">



  <% @tools.each do |tool| %>
  <div class="row align-items-center">
      <div class="col">
      <div class="card-trip">
          <% if tool.photo.attached? %>
          <%= cl_image_tag tool.photo.key, width: 400 %>
          <% end %>
        <div class="card-trip-infos">
          <div>
          <h2><%= link_to tool.name, tool_path(tool) %></h2>
          <p><%= tool.description.truncate(150) %></p>
        </div>
        <h2 class="card-trip-pricing"><%= tool.price %>€/day</h2>
        </div>
    </div>
    </div>
  </div>
      <% end %>
   </div>


  <h1 class="tools-text-center">My Bookings</h1>

  <div class="cards">
    <% @bookings.each do |booking| %>
    <div class="row align-items-center">
        <div class="col">
        <div class="card-trip">
          <% if booking.tool.photo.attached? %>
          <%= cl_image_tag booking.tool.photo.key, width: 400 %>
          <% end %>
          <div class="card-trip-infos">
            <div>
            <h2><%= booking.tool.name%></h2>

            <p>Du <%= booking.start_date.strftime("%d-%m-%Y")%> au <%= booking.end_date.strftime("%d-%m-%Y")%></p>
            </div>
            <h2 class="card-trip-pricing">Total dû : <%=(booking.end_date - booking.start_date) * booking.tool.price%>€/day</h2>
            <%= link_to "Valider la demande", edit_booking_path(booking) %>

          </div>
      </div>
      </div>
    </div>
        <% end %>
   </div>


   <h1 class="tools-text-center">My Requests</h1>


   <div class="cards">
    <% @my_requests.each do |booking| %>
    <div class="row align-items-center">
        <div class="col">
        <div class="card-trip">

          <% if booking.tool.photo.attached? %>
          <%= cl_image_tag booking.tool.photo.key, width: 400 %>
          <% end %>
          <div class="card-trip-infos">
            <div>
            <h2><%= booking.tool.name%></h2>


            <p>Du <%= booking.start_date.strftime("%d-%m-%Y")%> au <%= booking.end_date.strftime("%d-%m-%Y")%></p>
          </div>
          <h2 class="card-trip-pricing">Total perçu : <%=(booking.end_date - booking.start_date) * booking.tool.price%>€/day</h2>

          </div>
      </div>
      </div>
    </div>
        <% end %>
   </div>

  <div class="btn-all-tools">
  <%= link_to "Add tool", new_tool_path %>
  </div>
</div>
